*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body, html {
    overflow-x: hidden; 
}
body{
    font-family: 'Poppins', sans-serif;   
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #333;
}
p{
    color: #333;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-right: 25px;
    padding-left: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 43%;
    min-width: 300px;
}
.col-2 img{
    min-width: 100%;
    padding: 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 50px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #8930c4;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.header{
    background: linear-gradient(180deg, #f3e5f5, #faf4e1);
}
.btn:hover{
    background: #240b36;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 60px;
    position: relative;
    line-height: 60px;
    color: #333;
}
.title::after{
    content: '';
    background: #8930c4;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%)
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #8930c4;
}
.col-4:hover{
    transform: translateY(-5px);
}
/*--offer--*/
.offer{
    background: linear-gradient(180deg, #f3e5f5, #faf4e1);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #333;
}
.offer-img {
    width: 100%;
    max-width: 600px; /* Set a maximum width for larger screens */
    height: auto;     /* Maintain the image's aspect ratio */
    display: block;   /* Block level for centering */
    margin-left: auto;
    margin-right: auto;
}
/*-----Testimonial------*/
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color:#8930c4;
}
.col-3 p{
    font-size: 12px;
    margin: 12px;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/*----Footer----*/
.footer{
    background: #4c176e;
    color: #f5f5f5;
    font-size: 14px;
    padding: 40px 0 20px;
}
.footer p{
    color: #f5f5f5;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 200px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex-basis: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 60px;
    margin-bottom: 20px;
    filter: invert(100%);
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.footer hr{
    border: none;
    background:#f5f5f5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/*media query for menu*/
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transform: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color:#fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
/*media query for less then 600 screen size*/ 
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }
    .offer-img {
        max-width: 90%; /* Reduce width for smaller screens */
        margin-left: auto;
        margin-right: auto;
    }
}
