/* static/css/style.css */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #e0e2db;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

h2 {
    font-weight: 600;
    padding-left: 10px;
    font-size: 30px;
    padding-bottom: 10px;
    width: auto;
    height: auto;
    margin: auto;
    color: #240b36;
}

nav {
    background-color: #e0e2db;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover; /* Maintain aspect ratio */
}

.navbar-menu {
    background-color: #e0e2db;
}

.navbar-item,
.navbar-link {
    color: #240b36;
}

.navbar-item:hover,
.navbar-link:hover {
    color: #240b36;
    background-color: transparent;
}

.nav-links ul {
    list-style: none;
}

.nav-links ul li {
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #240b36;
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #240b36;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.nav-links ul li a i {
    margin-right: 5px; /* Adjust spacing between icon and text */
}

@media (max-width: 1024px) {
    .nav-links {
        text-align: center;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
    }

    .nav-links ul li {
        display: block;
        padding: 10px 0;
    }
}
