<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bce88d8131.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>All Products</title>
</head>
<body>
    
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/file.jpg') }}" alt="logo" width="45px">
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('products') }}">Products</a></li>
                    <li><a href="{{ url_for('about') }}">About Us</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                </ul>
            </nav>            
            <img class="menu-icon" src="{{ url_for('static', filename='images/menu.png') }}" alt="menu" onclick="menutoggle( )">
        </div>
    </div>
    <!--Single Product Details-->
    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="{{ url_for('static', filename='images/featuredwomen.png') }}" alt="Product" id="productImg" width="100%">
                <div class="small-img-row">
                    <div class="small-img-col">
                        <img src="{{ url_for('static', filename='images/featuredshirt.png') }}" alt="Product" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="{{ url_for('static', filename='images/featuredshoes.png') }}" alt="Product" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="{{ url_for('static', filename='images/featuredshorts.png') }}" alt="Product" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="{{ url_for('static', filename='images/featuredwomen.png') }}" alt="Product" width="100%" class="small-img">
                    </div>
                </div>
            </div>
            <div class="col-2">
                <p>Home / Pants</p>
                <h1>Olive Jean By HRX</h1>
                <h4>&#8377;2999</h4>
                <a href="" class="btn">Visit Website</a>
                <h3>Product Details <i class="fa fa-indent" aria-hidden="true"></i></h3>
                <br>
                <p>"I love how Gym Vogue helps me find the best deals on my favorite products. I can easily browse through different options, and when I'm ready to buy, the site sends me directly to where it's sold. No more endless searching—this site saves me so much time!</p>
                <p></p>
            </div>
        </div>
    </div>
    <!--title-->
    <div class="small-container">
        <div class="row row-2">
            <h2>Related Products</h2>
            <p>View More</p>
        </div>
    </div>
    <div class="small-container">
        <div class="row">
            <div class="col-4">
                <img src="{{ url_for('static', filename='images/featuredshirt.png') }}" alt="Basketball Men Jet Black Rapid-Dry Typography TShirt">
                <h4>Basketball Men Jet Black Rapid-Dry Typography TShirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                <p>&#8377;1799</p>
            </div>
            <div class="col-4">
                <img src="{{ url_for('static', filename='images/featuredshorts.png') }}" alt="Men Black Printed Rapid Dry Woven Running Sports Shorts">
                <h4>Men Black Printed Rapid Dry Woven Running Sports Shorts</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>&#8377;1399</p>
            </div>
            <div class="col-4">
                <img src="{{ url_for('static', filename='images/featuredshoes.png') }}" alt="Men Black Trainer-1 Training or Gym Shoes">
                <h4>Men Black Trainer-1 Training or Gym Shoes</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <p>&#8377;4799</p>
            </div>
            <div class="col-4">
                <img src="{{ url_for('static', filename='images/featuredwomen.png') }}" alt="HRX By Hrithik Roshan Outdoor Women Winter Moss Convertable Solid Trousers">
                <h4>Outdoor Women Winter Moss Convertable Solid Trousers</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                <p>&#8377;2999</p>
            </div>
        </div>
    </div>
    <!--Footer-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Our App Will be Available soon on Android and IOS</p>
                </div>
                <div class="footer-col-2">
                    <img src="{{ url_for('static', filename='images/file.jpg') }}" alt="logo">
                    <p>Our Purpose is To Provide Accurate Descriptions and Best Deals</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>About Us</li>
                        <li>Creator</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow Us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Instagram</li>
                        <li>Twitter</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2024 - Gym Vouge</p>
        </div>

    </div>
    <!--js toggle menu-->
    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle(){
            if(MenuItems.style.maxHeight == "0px")
                {
                    MenuItems.style.maxHeight = "200px";
                }
            else
                {   
                    MenuItems.style.maxHeight = "0px";
                }
        }
    </script>
    <!--Js for gallary-->
    <script>
        var productImg = document.getElementById("productImg")
        var smallImg = document.getElementsByClassName("small-img")

        for (let i = 0; i < smallImg.length; i++) {
            smallImg[i].onclick = function() {
                productImg.src = smallImg[i].src; // Change product image to the clicked small image
            };
        }
    </script>
</body>
</html>
